* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
  margin: 5px;
}

body {
  background-color: rgb(175, 192, 199);
  padding: 5px;
}

header {
  padding: 1%;
  background-color: rgb(13, 101, 141);
  align-items: center;
  color: rgb(175, 192, 199);
  display: flex;
}

nav {
  width: 100%;
}

h1 {
  font-size: 40px;
  min-width: 300px;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  text-align: right;
}

nav a {
  color: rgb(175, 192, 199);
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: rgb(0, 36, 53);
}

.left-column {
  float: left;
  width: 24%;
  height: 100%;
}

aside {
  padding: 30px;
  width: 25%;
  background-color: rgb(13, 101, 141);
  color: rgb(132, 182, 206);
  border: 5px solid rgb(132, 182, 206);
  position: absolute;
  height: 100%;
}

aside h2 {
  font-size: 30px;
  justify-content: left;
}
aside p {
  line-height: 1.5;
}

.right-column {
  float: right;
  width: 74%;
}

section {
  padding: 0px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(0, 36, 53);
}

.container {
  display: flex;
}

.overlay {
  display: flex;
  position: absolute;
  width: 386px;
  height: 375px;
  background: rgba(0, 0, 0, 0);
  border: 2px solid rgb(78, 78, 78);
  transition: background 0.5s ease;
  /* opacity: 0;
  transform: translate(-50%, -50%);
  text-align: center; */
}

.container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

img {
  width: auto;
  height: auto;
  left: 0;
}

.button {
  display: flex;
  position: absolute;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
  align-self: center;
  right: 27%;
}

.button a {
  width: 200px;
  padding: 12px 48px;
  font-size: 16px;
  text-align: center;
  color: rgb(132, 182, 206);
  border: solid 2px rgb(132, 182, 206);
  z-index: 1;
}

.container:hover .button {
  opacity: 1;
}

/* img:hover {
  opacity: 0.3;
} */

footer {
  list-style-type: none;
  font-size: 20px;
  display: flex;
  text-align: center;
  background-color: rgb(13, 101, 141);
  border-top: 5px solid rgb(132, 182, 206);
  color: rgb(132, 182, 206);
  position: fixed;
  bottom: 0px;
  justify-content: space-around;
  width: 100%;
}

footer a {
  list-style-type: none;
  color: rgb(132, 182, 206);
  font-size: 20px;
  text-decoration: none;
}

footer a:hover {
  color: rgb(0, 36, 53);
}